{% extends "index.html" %}
{% block body %}
<style>
	.align-table{
		text-align: -webkit-center;
	}
	.color-text{
		color: #ffff;
	}
</style>
<div class=tablaPosiciones>
	<form class="pure-form pure-form-stacked" action="{% url 'index' %}">
		<h3 class="color-text"> Tabla de posiciones</h3>
		<div class="align-table">
			<table class="pure-table pure-table-bordered">
				<thead>
					<tr>
						{% for h in head %}
							<th>{{h}}</th>
						{% endfor %}
					</tr>	
				</thead>
				<tbody>
					{% for reg in data %}
						<tr>
						{% for r in reg %}
							<td class="color-text"> {{r}}</td>
						{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
			<button type="submit" class="pure-button pure-button-primary">Ingresar nuevos equipos</button>
		</form>
</div>
{% endblock %}